@import url("/css/master.css");
@import url("/css/qrtype.css");

.qrsecarezon {
    background: #f6f6ff;
    padding: 50px;
}

.selqrcotyp ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    overflow: hidden;
    overflow-y: auto;
    height: 50vh;
}

.selqrcotyp ul li {
    border: 1px solid #e5e5e5;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selqrcotyp ul li b {
    color: #364153;
    font-weight: 500;
    font-size: .875rem;
    text-align: center;
    line-height: 1.25;
}

.selqrcotyp ul li span {
    width: 50px;
    height: 50px;
    text-align: center;
    background: #f3f2f2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.selqrcotyp ul li span i {
    font-size: 24px;
}

.selqrcotyp h4 {
    color: #1e2939;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 50px;
    width: max-content;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.proctsetup ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proctsetup {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.proctsetup ul span {
    display: flex;
    width: calc(0.20rem * 10);
    height: calc(.20rem * 10);
    background: #e6e4e4;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
}

.proctsetup li {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 15px;
    color: #1e2939;
    position: relative;
    z-index: 1;
}

.proctsetup li:after {
    content: '';
    position: absolute;
    right: 0;
    height: 2px;
    width: 35%;
    z-index: -1;
    opacity: 0.3;
    background: linear-gradient(90deg, rgb(0 137 235 / 0%) 0%, rgb(202 202 202) 100%);
}

.proctsetup li:last-child:after {
    display: none;
}

.buttonsecare {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.butnsectonexpre {
    background: #000;
    padding: 8px 30px;
    border-radius: 4px;
    border: unset;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 300;
}

.selqrcotyp ul li:hover {
    transition: 0.5s all;
    transform: scale(1.1);
}

.selqrcotyp ul li.active {
    border-color: #0d6efd;
    box-shadow: 5px 5px 10px 0 #d9d9d9;
    transform: scale(1.0);
}


/*---New Css---*/
.formdivider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.formdivider .form-group {
    width: 310px;
}

.bordelinside h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0px 0px 10px;
}

form {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

form h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 15px;
}

.form-group {
    margin: 0px auto 20px;
    padding: 0px;
    width: 100%;
    display: inline-block;
}

label {
    font-size: 14px;
    font-weight: 500;
    margin: 0px 0px 5px;
}

.form-control {
    padding: 8px 10px;
    margin: 0px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    background: #f3f3f5;
}

/* .form-control::placeholder {
    color: #000000;
} */
.qrcodeprocesec {
    margin: 0px;
    padding: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    width: 100%;
    display: inline-block;
    position: relative;
}

.qrcodeproce {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.qrcodeproce h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 20px;
}

.qrcodshow {
    margin: 0px 0px 30px;
    padding: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    width: 100%;
    display: inline-block;
}

.qrcodedownbtn {
    width: 100%;
    margin: 0px 0px 15px;
    padding: 0px;
}

.qrcodedownbtn .btn {
    width: 100%;
    background: #818089;
    border: unset;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.qrcodecopysharbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px 0px 15px;
    padding: 0px;
}

.qrcodecopysharbtn a {
    border: 1px solid #ccc;
    border-radius: 6px;
    width: max-content;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin: 0px;
    padding: 6px 35px;
}

.qrcodelist {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.qrcodelist ul {
    display: block;
    width: 100%;
}

.qrcodelist ul li {
    width: 100%;
    line-height: 25px;
    font-size: 13px;
    letter-spacing: 0.3px;
}