<%- include('../partial/header.ejs') %>


<!-- QR Code Generator Body -->
<div class="qrsecarezon compadmansec">
    <div class="container">
        <div class="row sedoboxradis">
            <div class="col-md-8">
                <!-- Process to Setup -->
                <div class="proctsetup">
                    <ul>
                        <li><span>1. </span>Select QR Type</li>
                        <li><span>2. </span>Complete Content</li>
                        <li><span>3. </span>Customize Design Your QR</li>
                    </ul>
                </div>
                <!-- Select QR Code Type -->
                <div class="selqrcotyp bordelinside">
                    <h4>Select QR Code Type</h4>
                    <ul>
                        <li><span><i class="fa-solid fa-link"></i></span> <b>URL / Link</b></li>
                        <li><span><i class="fa-brands fa-google-play"></i></span> <b>Play Market / App Store</b></li>
                        <li><span><i class="fa-solid fa-font"></i></span> <b>Text</b></li>
                        <li><span><i class="fa-solid fa-map-location-dot"></i></span> <b>Map</b></li>
                        <li><span><i class="fa-solid fa-wifi"></i></span> <b>Wi-Fi</b></li>
                        <li><span><i class="fa-solid fa-headphones"></i></span> <b>Audio</b></li>
                        <li><span><i class="fa-solid fa-file-pdf"></i></span> <b>PDF</b></li>
                        <li><span><i class="fa-brands fa-whatsapp"></i></span> <b>WhatsApp</b></li>
                        <li><span><i class="fa-brands fa-youtube"></i></span> <b>YouTube</b></li>
                        <li><span><i class="fa-brands fa-facebook"></i></span> <b>Facebook</b></li>
                        <li><span><i class="fa-solid fa-image"></i></span> <b>Image</b></li>
                        <li><span><i class="fa-brands fa-instagram"></i></span> <b>Instagram</b></li>
                        <li><span><i class="fa-solid fa-id-card"></i></span> <b>vCard</b></li>
                        <li><span><i class="fa-brands fa-telegram"></i></span> <b>Telegram</b></li>
                        <li><span><i class="fa-solid fa-envelope"></i></span> <b>E-mail</b></li>
                        <li><span><i class="fa-solid fa-calendar-check"></i></span> <b>Booking</b></li>
                        <li><span><i class="fa-solid fa-phone"></i></span> <b>Phone Call</b></li>
                        <li><span><i class="fa-solid fa-file-powerpoint"></i></span> <b>PPTX</b></li>
                        <li><span><i class="fa-solid fa-earth-americas"></i></span> <b>Custom URL</b></li>
                        <li><span><i class="fa-solid fa-list"></i></span> <b>List of Links</b></li>
                        <li><span><i class="fa-brands fa-tiktok"></i></span> <b>TikTok</b></li>
                        <li><span><i class="fa-solid fa-video"></i></span> <b>Video</b></li>
                        <li><span><i class="fa-solid fa-file-lines"></i></span> <b>Google Forms</b></li>
                        <li><span><i class="fa-solid fa-vial"></i></span> <b>PCR</b></li>
                        <li><span><i class="fa-brands fa-x-twitter"></i></span> <b>X (Twitter)</b></li>
                        <li><span><i class="fa-brands fa-snapchat"></i></span> <b>Snapchat</b></li>
                        <li><span><i class="fa-brands fa-spotify"></i></span> <b>Spotify</b></li>
                        <li><span><i class="fa-brands fa-google-drive"></i></span> <b>Google Doc</b></li>
                        <li><span><i class="fa-solid fa-star"></i></span> <b>Google Review</b></li>
                        <li><span><i class="fa-solid fa-table"></i></span> <b>Google Sheets</b></li>
                        <li><span><i class="fa-solid fa-credit-card"></i></span> <b>Payment</b></li>
                        <li><span><i class="fa-solid fa-comment-sms"></i></span> <b>SMS</b></li>
                        <li><span><i class="fa-solid fa-copyright"></i></span> <b>Logo</b></li>
                        <li><span><i class="fa-brands fa-microsoft"></i></span> <b>Office 365</b></li>
                        <li><span><i class="fa-solid fa-shapes"></i></span> <b>Shaped</b></li>
                        <li><span><i class="fa-brands fa-paypal"></i></span> <b>Paypal</b></li>
                        <li><span><i class="fa-brands fa-etsy"></i></span> <b>Etsy</b></li>
                        <li><span><i class="fa-solid fa-file-image"></i></span> <b>PNG</b></li>
                        <li><span><i class="fa-brands fa-linkedin"></i></span> <b>LinkedIn</b></li>
                        <li><span><i class="fa-brands fa-bitcoin"></i></span> <b>Crypto Payment</b></li>
                        <li><span><i class="fa-solid fa-calendar-days"></i></span> <b>Calendar</b></li>
                        <li><span><i class="fa-solid fa-share-nodes"></i></span> <b>Social Media</b></li>
                        <li><span><i class="fa-solid fa-ticket"></i></span> <b>Ticket</b></li>
                        <li><span><i class="fa-brands fa-reddit"></i></span> <b>Reddit</b></li>
                        <li><span><i class="fa-solid fa-file"></i></span> <b>File</b></li>
                        <li><span><i class="fa-solid fa-file-excel"></i></span> <b>Excel</b></li>
                        <li><span><i class="fa-brands fa-vimeo"></i></span> <b>Venmo</b></li>
                        <li><span><i class="fa-brands fa-amazon"></i></span> <b>Amazon</b></li>
                        <li><span><i class="fa-solid fa-qrcode"></i></span> <b>2D-Barcode</b></li>
                        <li><span><i class="fa-solid fa-indian-rupee-sign"></i></span> <b>UPI</b></li>
                        <li><span><i class="fa-solid fa-calendar-check"></i></span> <b>Online Booking</b></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="qrcodeprocesec">
                    <div class="qrcodeproce">
                        <h4>QR Code Preview <span><b>Live</b></span></h4>
                        <div class="qrcodshow">
                            <img src="/images/qr-code.png" alt="QR Code">
                        </div>
                        <div class="qrcodedownbtn">
                            <a href="#" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../partial/footer.ejs') %>