<%- include('../partial/header.ejs') %>


    <!-- QR Code Generator Body -->
    <div class="qrsecarezon compadmansec">
        <div class="container">
            <div class="row sedoboxradis">
                <div class="col-md-8 bordelinside">
                    <!-- Process to Setup -->
                    <div class="proctsetup">
                        <ul>
                            <li><span></span>Select QR Type</li>
                            <li><span></span>Complete Content</li>
                            <li><span></span>Customize Design Your QR</li>
                        </ul>
                    </div>
                    <!-- Select QR Code Type -->
                    <div class="selqrcotyp">
                        <ul>
                            <li><i class="fa-solid fa-link"></i> <b>URL / Link</b></li>
                            <li><i class="fa-brands fa-google-play"></i> <b>Play Market / App Store</b></li>
                            <li><i class="fa-solid fa-font"></i> <b>Text</b></li>
                            <li><i class="fa-solid fa-map-location-dot"></i> <b>Map</b></li>
                            <li><i class="fa-solid fa-wifi"></i> <b>Wi-Fi</b></li>
                            <li><i class="fa-solid fa-headphones"></i> <b>Audio</b></li>
                            <li><i class="fa-solid fa-file-pdf"></i> <b>PDF</b></li>
                            <li><i class="fa-brands fa-whatsapp"></i> <b>WhatsApp</b></li>
                            <li><i class="fa-brands fa-youtube"></i> <b>YouTube</b></li>
                            <li><i class="fa-brands fa-facebook"></i> <b>Facebook</b></li>
                            <li><i class="fa-solid fa-image"></i> <b>Image</b></li>
                            <li><i class="fa-brands fa-instagram"></i> <b>Instagram</b></li>
                            <li><i class="fa-solid fa-id-card"></i> <b>vCard</b></li>
                            <li><i class="fa-brands fa-telegram"></i> <b>Telegram</b></li>
                            <li><i class="fa-solid fa-envelope"></i> <b>E-mail</b></li>
                            <li><i class="fa-solid fa-calendar-check"></i> <b>Booking</b></li>
                            <li><i class="fa-solid fa-phone"></i> <b>Phone Call</b></li>
                            <li><i class="fa-solid fa-file-powerpoint"></i> <b>PPTX</b></li>
                            <li><i class="fa-solid fa-earth-americas"></i> <b>Custom URL</b></li>
                            <li><i class="fa-solid fa-list"></i> <b>List of Links</b></li>
                            <li><i class="fa-brands fa-tiktok"></i> <b>TikTok</b></li>
                            <li><i class="fa-solid fa-video"></i> <b>Video</b></li>
                            <li><i class="fa-solid fa-file-lines"></i> <b>Google Forms</b></li>
                            <li><i class="fa-solid fa-vial"></i> <b>PCR</b></li>
                            <li><i class="fa-brands fa-x-twitter"></i> <b>X (Twitter)</b></li>
                            <li><i class="fa-brands fa-snapchat"></i> <b>Snapchat</b></li>
                            <li><i class="fa-brands fa-spotify"></i> <b>Spotify</b></li>
                            <li><i class="fa-brands fa-google-drive"></i> <b>Google Doc</b></li>
                            <li><i class="fa-solid fa-star"></i> <b>Google Review</b></li>
                            <li><i class="fa-solid fa-table"></i> <b>Google Sheets</b></li>
                            <li><i class="fa-solid fa-credit-card"></i> <b>Payment</b></li>
                            <li><i class="fa-solid fa-comment-sms"></i> <b>SMS</b></li>
                            <li><i class="fa-solid fa-copyright"></i> <b>Logo</b></li>
                            <li><i class="fa-brands fa-microsoft"></i> <b>Office 365</b></li>
                            <li><i class="fa-solid fa-shapes"></i> <b>Shaped</b></li>
                            <li><i class="fa-brands fa-paypal"></i> <b>Paypal</b></li>
                            <li><i class="fa-brands fa-etsy"></i> <b>Etsy</b></li>
                            <li><i class="fa-solid fa-file-image"></i> <b>PNG</b></li>
                            <li><i class="fa-brands fa-linkedin"></i> <b>LinkedIn</b></li>
                            <li><i class="fa-brands fa-bitcoin"></i> <b>Crypto Payment</b></li>
                            <li><i class="fa-solid fa-calendar-days"></i> <b>Calendar</b></li>
                            <li><i class="fa-solid fa-share-nodes"></i> <b>Social Media</b></li>
                            <li><i class="fa-solid fa-ticket"></i> <b>Ticket</b></li>
                            <li><i class="fa-brands fa-reddit"></i> <b>Reddit</b></li>
                            <li><i class="fa-solid fa-file"></i> <b>File</b></li>
                            <li><i class="fa-solid fa-file-excel"></i> <b>Excel</b></li>
                            <li><i class="fa-brands fa-vimeo"></i> <b>Venmo</b></li>
                            <li><i class="fa-brands fa-amazon"></i> <b>Amazon</b></li>
                            <li><i class="fa-solid fa-qrcode"></i> <b>2D-Barcode</b></li>
                            <li><i class="fa-solid fa-indian-rupee-sign"></i> <b>UPI</b></li>
                            <li><i class="fa-solid fa-calendar-check"></i> <b>Online Booking</b></li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>


    <%- include('../partial/footer.ejs') %>